In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./DATASETS/Hepatitis/hepatitis.csv')

In [3]:
df.head()

,2,30,2.1,1,2.2,2.3,2.4,2.5,1.1,2.6,2.7,2.8,2.9,2.10,1.00,85,18,4.0,?,1.2
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

In [6]:
columns_name = ["Class", "AGE", "SEX", "STEROID", "ANTIVIRALS", "FATIGUE", "MALAISE", "ANOREXIA", "LIVER BIG", "LIVER FIRM", "SPLEEN PALPABLE", "SPIDERS", "ASCITES", "VARICES", "BILIRUBIN", "ALK PHOSPHATE", "SGOT", "ALBUMIN", "PROTIME", "HISTOLOGY"]
df.columns = columns_name
df.head()

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
1,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
2,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.0,75,1

In [18]:
df['Class'] = df['Class'].replace([1, 2], ["DIE", "LIVE"])
df['SEX'] = df['SEX'].replace([1, 2], ["Male", "Female"])
df['STEROID'] = df['STEROID'].replace(["1", "2"], ["NO", "YES"])
df['ANTIVIRALS'] = df['ANTIVIRALS'].replace([1, 2], ["NO", "YES"])
df['FATIGUE'] = df['FATIGUE'].replace(["1", "2"], ["NO", "YES"])
df['MALAISE'] = df['MALAISE'].replace(["1", "2"], ["NO", "YES"])
df['ANOREXIA'] = df['ANOREXIA'].replace(["1", "2"], ["NO", "YES"])
df['LIVER BIG'] = df['LIVER BIG'].replace(["1", "2"], ["NO", "YES"])
df['LIVER FIRM'] = df['LIVER FIRM'].replace(["1", "2"], ["NO", "YES"])
df['SPLEEN PALPABLE'] = df['SPLEEN PALPABLE'].replace(["1", "2"], ["NO", "YES"])
df['SPIDERS'] = df['SPIDERS'].replace(["1", "2"], ["NO", "YES"])
df['ASCITES'] = df['ASCITES'].replace(["1", "2"], ["NO", "YES"])
df['VARICES'] = df['VARICES'].replace(["1", "2"], ["NO", "YES"])
df['HISTOLOGY'] = df['HISTOLOGY'].replace([1, 2], ["NO", "YES"])

In [19]:
df

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,LIVE,50,Male,NO,YES,NO,YES,YES,NO,YES,YES,YES,YES,YES,0.90,135,42,3.5,?,NO
1,LIVE,78,Male,YES,YES,NO,YES,YES,YES,YES,YES,YES,YES,YES,0.70,96,32,4.0,?,NO
2,LIVE,31,Male,?,NO,YES,YES,YES,YES,YES,YES,YES,YES,YES,0.70,46,52,4.0,80,NO
3,LIVE,34,Male,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,1.00,?,200,4.0,?,NO
4,LIVE,34,Male,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,0.90,95,28,4.0,75,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149,DIE,46,Male,YES,YES,NO,NO,NO,YES,YES,YES,NO,NO,NO,7.60,?,242,3.3,50,YES
150,LIVE,44,Male,YES,YES,NO,YES,YES,YES,NO,YES,YES,YES,YES,0.90,126,142,4.3,?,YES
151,LIVE,61,Male,NO,YES,NO,NO,YES,NO,NO,YES,NO,YES,YES,0.80,75,20,4.1,?,YES
152,LIVE,53,Female,NO,YES,NO,YES,YES,YES,YES,NO,NO,YES,NO,1.50,81,19,4.1,48,YES
153,DIE,43,Male,YES,YES,NO,YES,YES,YES,YES,NO,NO,NO,YES,1.20,100,19,3.1,42,YES

In [22]:
df['SEX'].unique()

array(['Male', 'Female'], dtype=object)

# CREATING DATA SUBSETS BASED ON SEX

In [23]:
male_subset = df[df['SEX'] == 'Male']
male_subset

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,LIVE,50,Male,NO,YES,NO,YES,YES,NO,YES,YES,YES,YES,YES,0.90,135,42,3.5,?,NO
1,LIVE,78,Male,YES,YES,NO,YES,YES,YES,YES,YES,YES,YES,YES,0.70,96,32,4.0,?,NO
2,LIVE,31,Male,?,NO,YES,YES,YES,YES,YES,YES,YES,YES,YES,0.70,46,52,4.0,80,NO
3,LIVE,34,Male,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,1.00,?,200,4.0,?,NO
4,LIVE,34,Male,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,0.90,95,28,4.0,75,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,LIVE,36,Male,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,0.60,120,30,4.0,?,YES
149,DIE,46,Male,YES,YES,NO,NO,NO,YES,YES,YES,NO,NO,NO,7.60,?,242,3.3,50,YES
150,LIVE,44,Male,YES,YES,NO,YES,YES,YES,NO,YES,YES,YES,YES,0.90,126,142,4.3,?,YES
151,LIVE,61,Male,NO,YES,NO,NO,YES,NO,NO,YES,NO,YES,YES,0.80,75,20,4.1,?,YES
153,DIE,43,Male,YES,YES,NO,YES,YES,YES,YES,NO,NO,NO,YES,1.20,100,19,3.1,42,YES

In [24]:
female_subset = df[df['SEX'] == 'Female']
female_subset

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
19,LIVE,22,Female,YES,NO,NO,YES,YES,YES,YES,YES,YES,YES,YES,0.90,48,20,4.2,64,NO
23,LIVE,25,Female,NO,NO,YES,YES,YES,YES,YES,YES,YES,YES,YES,0.40,45,18,4.3,70,NO
26,LIVE,58,Female,YES,YES,NO,YES,YES,YES,NO,YES,NO,YES,YES,1.40,175,55,2.7,36,NO
31,LIVE,41,Female,YES,NO,NO,NO,NO,YES,YES,YES,YES,YES,YES,0.70,81,53,5.0,74,NO
32,LIVE,26,Female,NO,YES,YES,YES,YES,YES,NO,YES,YES,YES,YES,0.50,135,29,3.8,60,NO
36,LIVE,20,Female,NO,YES,NO,NO,NO,NO,NO,NO,NO,YES,YES,2.30,150,68,3.9,?,NO
46,LIVE,28,Female,YES,YES,NO,NO,YES,YES,NO,YES,YES,YES,YES,1.80,191,420,3.3,46,NO
58,LIVE,45,Female,NO,YES,NO,NO,YES,YES,YES,NO,YES,YES,YES,1.00,85,75,?,?,NO
76,LIVE,34,Female,NO,NO,YES,YES,YES,YES,NO,YES,YES,YES,YES,0.60,30,24,4.0,76,NO
82,LIVE,67,Female,NO,YES,NO,NO,YES,YES,YES,?,?,?,?,1.50,179,69,2.9,?,NO
83,LIVE,62,Female,YES,YES,NO,NO,YES,YES,NO,YES,NO,YES,YES,1.30,141,156,3.9,58,NO
89,LIVE,50,Female,NO,YES,NO,YES,YES,NO,NO,NO,NO,YES,YES,0.90,230,117,3.4,41,YES
114,LIVE,69,Female,YES,YES,NO,YES,YES,YES,YES,YES,YES,YES,YES,3.20,119,136,?,?,YES
124,LIVE,34,Female,YES,YES,NO,NO,NO,NO,NO,YES,NO,YES,YES,0.70,70,24,4.1,100,YES
152,LIVE,53,Female,NO,YES,NO,YES,YES,YES,YES,NO,NO,YES,NO,1.50,81,19,4.1,48,YES

# MERGING TWO SUBSETS

In [25]:
merged_subset = pd.concat([male_subset, female_subset])
merged_subset

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
0,LIVE,50,Male,NO,YES,NO,YES,YES,NO,YES,YES,YES,YES,YES,0.90,135,42,3.5,?,NO
1,LIVE,78,Male,YES,YES,NO,YES,YES,YES,YES,YES,YES,YES,YES,0.70,96,32,4.0,?,NO
2,LIVE,31,Male,?,NO,YES,YES,YES,YES,YES,YES,YES,YES,YES,0.70,46,52,4.0,80,NO
3,LIVE,34,Male,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,1.00,?,200,4.0,?,NO
4,LIVE,34,Male,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,0.90,95,28,4.0,75,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,LIVE,62,Female,YES,YES,NO,NO,YES,YES,NO,YES,NO,YES,YES,1.30,141,156,3.9,58,NO
89,LIVE,50,Female,NO,YES,NO,YES,YES,NO,NO,NO,NO,YES,YES,0.90,230,117,3.4,41,YES
114,LIVE,69,Female,YES,YES,NO,YES,YES,YES,YES,YES,YES,YES,YES,3.20,119,136,?,?,YES
124,LIVE,34,Female,YES,YES,NO,NO,NO,NO,NO,YES,NO,YES,YES,0.70,70,24,4.1,100,YES
152,LIVE,53,Female,NO,YES,NO,YES,YES,YES,YES,NO,NO,YES,NO,1.50,81,19,4.1,48,YES

# SORTING DATA BASED ON AGE

In [30]:
age_sorted = df.sort_values('AGE')
age_sorted

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
109,LIVE,7,Male,YES,YES,YES,YES,YES,YES,NO,NO,YES,YES,YES,0.70,256,25,4.2,?,YES
120,LIVE,20,Male,NO,YES,NO,NO,NO,YES,YES,YES,NO,NO,YES,1.00,160,118,2.9,23,YES
147,LIVE,20,Male,NO,YES,YES,YES,YES,YES,?,YES,YES,YES,YES,0.90,89,152,4.0,?,YES
36,LIVE,20,Female,NO,YES,NO,NO,NO,NO,NO,NO,NO,YES,YES,2.30,150,68,3.9,?,NO
100,LIVE,22,Male,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,0.70,?,24,?,?,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,LIVE,67,Female,NO,YES,NO,NO,YES,YES,YES,?,?,?,?,1.50,179,69,2.9,?,NO
114,LIVE,69,Female,YES,YES,NO,YES,YES,YES,YES,YES,YES,YES,YES,3.20,119,136,?,?,YES
146,DIE,70,Male,NO,YES,NO,NO,NO,?,?,?,?,?,?,1.70,109,528,2.8,35,YES
132,LIVE,72,Male,YES,NO,NO,YES,YES,YES,NO,YES,YES,YES,YES,1.00,115,52,3.4,50,YES
1,LIVE,78,Male,YES,YES,NO,YES,YES,YES,YES,YES,YES,YES,YES,0.70,96,32,4.0,?,NO

# SORTING DATA BASED ON SGOT

In [36]:
sgot_sorted = df.sort_values('SGOT', ascending=False)
sgot_sorted.tail(10)

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
95,LIVE,30,Male,NO,YES,NO,NO,YES,YES,NO,YES,NO,YES,YES,0.80,147,128,3.9,100,YES
84,LIVE,28,Male,NO,YES,NO,NO,NO,YES,NO,YES,YES,YES,YES,1.60,44,123,4.0,46,NO
145,DIE,41,Male,YES,YES,NO,YES,YES,YES,NO,NO,NO,YES,NO,4.20,65,120,3.4,?,YES
8,LIVE,30,Male,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,1.00,?,120,3.9,?,NO
120,LIVE,20,Male,NO,YES,NO,NO,NO,YES,YES,YES,NO,NO,YES,1.00,160,118,2.9,23,YES
89,LIVE,50,Female,NO,YES,NO,YES,YES,NO,NO,NO,NO,YES,YES,0.90,230,117,3.4,41,YES
143,DIE,45,Male,YES,YES,NO,NO,NO,YES,YES,YES,NO,NO,YES,1.90,?,114,2.4,?,YES
44,LIVE,28,Male,YES,YES,NO,NO,YES,YES,YES,YES,YES,YES,YES,0.70,74,110,4.4,?,NO
130,DIE,31,Male,NO,YES,NO,NO,NO,YES,YES,NO,YES,YES,YES,8.00,?,101,2.2,?,YES
73,LIVE,50,Male,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,1.50,100,100,5.3,?,NO

# SORTING DATA BASED ON PROTIME

In [40]:
protime_sorted = df.sort_values('PROTIME')
protime_sorted.iloc[20:40]

,Class,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
126,DIE,50,Male,YES,YES,NO,YES,YES,YES,NO,NO,YES,NO,NO,2.80,155,75,2.4,32,YES
142,DIE,49,Male,NO,YES,NO,NO,YES,YES,YES,NO,NO,YES,YES,1.40,85,70,3.5,35,YES
146,DIE,70,Male,NO,YES,NO,NO,NO,?,?,?,?,?,?,1.70,109,528,2.8,35,YES
26,LIVE,58,Female,YES,YES,NO,YES,YES,YES,NO,YES,NO,YES,YES,1.40,175,55,2.7,36,NO
93,DIE,59,Male,NO,YES,NO,NO,YES,YES,NO,NO,NO,YES,YES,1.50,107,157,3.6,38,YES
20,LIVE,27,Male,YES,YES,NO,NO,NO,NO,NO,NO,NO,YES,YES,1.20,133,98,4.1,39,NO
29,DIE,39,Male,NO,NO,NO,NO,YES,YES,NO,YES,YES,YES,YES,2.30,280,98,3.8,40,NO
62,LIVE,36,Male,NO,YES,YES,YES,YES,NO,NO,NO,YES,YES,YES,0.70,164,44,3.1,41,NO
89,LIVE,50,Female,NO,YES,NO,YES,YES,NO,NO,NO,NO,YES,YES,0.90,230,117,3.4,41,YES
85,DIE,44,Male,NO,YES,NO,NO,YES,YES,YES,NO,YES,YES,NO,0.90,135,55,?,41,YES
153,DIE,43,Male,YES,YES,NO,YES,YES,YES,YES,NO,NO,NO,YES,1.20,100,19,3.1,42,YES
140,DIE,54,Male,NO,YES,NO,NO,YES,?,?,NO,YES,NO,YES,3.90,120,28,3.5,43,YES
14,LIVE,38,Male,NO,YES,NO,NO,NO,YES,YES,YES,YES,NO,YES,2.00,72,89,2.9,46,NO
84,LIVE,28,Male,NO,YES,NO,NO,NO,YES,NO,YES,YES,YES,YES,1.60,44,123,4.0,46,NO
103,DIE,47,Male,YES,YES,NO,NO,YES,YES,NO,YES,YES,NO,NO,1.70,86,20,2.1,46,YES
46,LIVE,28,Female,YES,YES,NO,NO,YES,YES,NO,YES,YES,YES,YES,1.80,191,420,3.3,46,NO
22,LIVE,42,Male,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES,0.90,60,63,4.7,47,NO
152,LIVE,53,Female,NO,YES,NO,YES,YES,YES,YES,NO,NO,YES,NO,1.50,81,19,4.1,48,YES
149,DIE,46,Male,YES,YES,NO,NO,NO,YES,YES,YES,NO,NO,NO,7.60,?,242,3.3,50,YES
132,LIVE,72,Male,YES,NO,NO,YES,YES,YES,NO,YES,YES,YES,YES,1.00,115,52,3.4,50,YES

# TRANSPOSING DATA

In [41]:
transposed_data = df.transpose()
transposed_data.head()

,0,1,2,3,4,5,6,7,8,9,...,144,145,146,147,148,149,150,151,152,153
Class,LIVE,LIVE,LIVE,LIVE,LIVE,DIE,LIVE,LIVE,LIVE,LIVE,...,LIVE,DIE,DIE,LIVE,LIVE,DIE,LIVE,LIVE,LIVE,DIE
AGE,50,78,31,34,34,51,23,39,30,39,...,31,41,70,20,36,46,44,61,53,43
SEX,Male,Male,Male,Male,Male,Male,Male,Male,Male,Male,...,Male,Male,Male,Male,Male,Male,Male,Male,Female,Male
STEROID,NO,YES,?,YES,YES,NO,YES,YES,YES,NO,...,NO,YES,NO,NO,YES,YES,YES,NO,NO,YES
ANTIVIRALS,YES,YES,NO,YES,YES,YES,YES,YES,YES,NO,...,YES,YES,YES,YES,YES,YES,YES,YES,YES,YES

# MELTING DATA TO LONG FORMAT

In [50]:
melted_data = pd.melt(df, id_vars=['SEX', 'AGE'], value_vars='Class', value_name='Status')
melted_data

        SEX  AGE variable Status
0      Male   50    Class   LIVE
1      Male   78    Class   LIVE
2      Male   31    Class   LIVE
3      Male   34    Class   LIVE
4      Male   34    Class   LIVE
..      ...  ...      ...    ...
149    Male   46    Class    DIE
150    Male   44    Class   LIVE
151    Male   61    Class   LIVE
152  Female   53    Class   LIVE
153    Male   43    Class    DIE

[154 rows x 4 columns]

# CASTING DATA TO WIDE FORMAT

In [59]:
df['Class'] = df['Class'].replace(["DIE", "LIVE"], [1, 2])

In [63]:
casted_data = df.pivot_table(index='Class', columns='SEX', values='HISTOLOGY')
casted_data

SEX      Female      Male
Class
1           NaN  1.781250
2      1.266667  1.383178